body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.toggle-theme {
    text-align: right;
    padding: 10px;
}

/* Modo Oscuro */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.toggle-theme button {
    padding: 10px 20px;
    cursor: pointer;
}

section {
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
